body {
  padding: 50px;
  background-color: #66CCFF;
  font-family: sans-serif;
}
#root {
  display: flex;
  justify-content: center;
}
.ActivityAppTitle {
  font-size: 30px;
  margin-top:30px;
  font-family: "Arial", Times, serif;
}
.todoListMain .header input {
  padding: 10px;
  margin-top:20px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 50%;
}
.todoListMain .header textarea {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 80%;
  height:160px
}
.todoListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}
.todoListMain .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}
.todoListMain .theList {
  list-style: none;
  padding-left: 0;
  width: 250px;
}
.todoListMain .theList li {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 15px;
  margin-bottom: 40px;
  border-radius: 5px;
  list-style: none;

  transition: background-color .2s ease-out;
}
.todoListMain .theList li:hover {
  background-color: pink;
  cursor: pointer;
}
.todoListMain .theList .edit {
  padding: 5px;
  font-size: 10px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
  float:right;
}
.todoListMain .theList .title {
  padding: 5px;
  width: 100px;
  color: #000000;

}
.todoListMain .theList .description {
  padding: 5px;
  margin-top: 10px;
  width: 100px;
  font-size: 13px;
  color: #000000;
}
.todoListMain .theList .date {
  font-size: 10px;
  margin-top:20px;
  margin-left:135px;
  color:#808080;
}

.todoListMain .theList .editMode input {
  padding: 10px;
  margin-top:20px;
  border: 2px solid #FFF;
  width:80%
}
.todoListMain .theList .editMode textarea {
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #FFF;
  width: 80%;
  height:80px
}
.todoListMain .theList .editMode button {
  margin-top: 30px;
}
.todoListMain .theList button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}
ul.theList {
  padding: 0;
}
.WeatherApp{
  width:800px;
  align-content: center;
  margin-left:200px;
}
.WeatherApp .WeatherInput input {
  padding: 10px;
  margin-top:20px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 40%;
}
.WeatherApp .WeatherInput button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}
.WeatherApp .WeatherInput button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;

}
.WeatherTemperature {
  margin-left:350px;
  font-size: 30px;
}
.WeatherDescription{
  font-size: 50px;
}
.WeatherDisplay img{
  width:60%;
  margin-left: 5%;
}
.Layout{
  width: 70px;
	height: 70px;
  font-size: 13px;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  position: fixed;
  right:100px;
  top:100px;
}
.Layout:hover{
  background-color: #FFD700;
}
